/**
 * $PLUGIN
 */


/**
 * #LOCAL VARIABLES
 */
$plugin-background:             #e3e1e1;
$plugin-title-color:            $base-heading-color;
$plugin-subtitle-color:         #525C63;

$themes-background:             $base-link-color;
$themes-title-color:            #ffffff;
$themes-text-color:             #ffffff;
$themes-button-color:           #ffffff;


/**
 * #REGULAR PLUGIN
 */
.plugin {
    background-color: $plugin-background;
    border-radius: $base-box-round;
    padding: $spacing-unit;
    margin-bottom: $spacing-unit;
    text-align: center;
    position: relative;
}

    .plugin__icon {
        background: #ffffff;
        border-radius: 50%;
        padding: 10px;
        width: 52px;
        @include font-size(32px, 1);
        display: inline-block;
        margin-bottom: $spacing-unit / 2;

    }

    .plugin__title {
        text-transform: uppercase;
        color: $plugin-title-color;
        @include font-size(18px);
        margin: 0;
    }

    .plugin__subtitle {
        color: $plugin-subtitle-color;
        display: inline-block;
        margin-bottom: $spacing-unit / 2;
    }

    .plugin__description {
        margin-bottom: $spacing-unit / 2;
        height: 4 * $inuit-base-font-size * ($inuit-base-line-height / $inuit-base-font-size);
    }

    .no-js .plugin__description {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .plugin__links {}

        .plugin__links li + li:before {
            content: '\00A0\00A0\00B7\00A0';
            font-weight: bold;
        }

/**
 * #FEATURED PLUGIN
 */
.plugin--featured {

    &:after {
        background: url('../images/ribbons/featured.png') top right no-repeat;
        background-size: 80px 80px;
        content: '';
        width: 80px;
        height: 80px;
        position: absolute;
        top: -4px;
        right: -4px;

        @include media-query(retina) {
            background-image: url('../images/ribbons/featured-2x.png');
        }

    }

}

/**
 * #NEW PLUGIN
 */
.plugin--new {

    &:before {
        background: url('../images/ribbons/new.png') top left no-repeat;
        background-size: 80px 80px;
        content: '';
        width: 80px;
        height: 80px;
        position: absolute;
        top: -4px;
        left: -4px;

        @include media-query(retina) {
            background-image: url('../images/ribbons/new-2x.png');
        }

    }

}

/**
 * #THEMES SPECIAL
 */
.plugin--themes {
    background-color: $themes-background;

    .plugin__title,
    .plugin__subtitle,
    .plugin__description,
    .plugin__links a {
        color: $themes-text-color;
    }
}
