/**
 * $FOOTER
 */


/**
 * #LOCAL VARIABLES
 */
$footer-background:             $base-heading-color;
$footer-color:                  #ffffff;


/**
 * #SECTION OVERRIDES
 */
.section--footer {
    background-color: $footer-background;
}

.section--footer .section__wrap {
    @extend %clearfix;
}


/**
 * #FOOTER
 */
.footer {
    color: $footer-color;
    @include font-size(14px);
    @extend %clearfix;
}

    .footer a {
        color: $footer-color;
        transition: color 100ms ease-out;

        @include attention() {
            color: $base-link-color;
        }

    }

    .footer__credits {
        text-align: center;

        @include media-query(desk) {
            text-align: left;
            margin-bottom: 0;
            float: left;
        }
    }

        .footer__icon {
            position: relative;
            padding: 0 2px;

            &.icon--kirby {
                @include font-size(20px);
                bottom: -4px;
            }

            &.icon--coffee {
                @include font-size(18px);  // TODO: Find better coffee icon!
                bottom: -2px;
            }

        }

    .footer__nav {
        margin-bottom: 0;
        text-align: center;

        @include media-query(desk) {
            float: right;
        }
    }

        .footer-nav__item + .footer-nav__item:before {
            content: '\00A0\00A0\00B7\00A0';
            font-weight: bold;
        }
