/**
 * $HEADER
 */


/**
 * #LOCAL VARIABLES
 */
$header-section-background:     $base-link-color;


/**
 * #SECTION OVERRIDES
 */
.section--header {
    background-color: $header-section-background;
}

.section--header .section__wrap {
    padding-top: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 2;
    position: relative;
    @extend %clearfix;
}


/**
 * #HEADER
 */

.header {
    text-align: center;
}

    .header__logo {
        background: $base-link-color;
        border-radius: 50%;
        box-shadow: 0px 5px 0px rgba(0, 0, 0, .1);
        padding: 10px;
        display: inline-block;

        @include media-query(lap-and-up) {
            position: absolute;
            left: $spacing-unit;
            top: 0;
        }

        img {
            border-radius: 50%;
            width: 65px;
            height: 65px;
        }
    }

    .header__title {
        @include font-size(24px, false);
        line-height: 1.5;
        font-weight: 600;
        margin: $spacing-unit 0 0;
        color: #ffffff;

        @include media-query(lap-and-up) {
            float: left;
            text-align: left;
            margin: 0 0 0 100px;
        }
    }

    .header__social {
        @include font-size(16px, false);
        line-height: 2.25;
        margin: ($spacing-unit / 2) 0 0;
        color: #ffffff;

        @include media-query(lap-and-up) {
            text-align: right;
            float: right;
            margin: 0;
        }
    }
