/**
 * $PLUGINS
 */


/**
 * #SECTION OVERRIDES
 */
.section--plugins .section__wrap {
    position: relative;
    padding-bottom: 0;
}


/**
 * #PLUGINS
 */
.plugins .layout {
    position: relative;
}
